{% extends 'base.html' %}


{% block title %}Skills{% endblock %}

{% block content %}
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-python"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-java"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-django"></i>
            </li>
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li> -->
            <li class="list-inline-item">
              <i class="devicons devicons-ubuntu"></i>
            </li>
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li> -->
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-wordpress"></i>
            </li> -->
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-grunt"></i>
            </li> -->
            <!-- <li class="list-inline-item">
              <i class="devicons devicons-css"></i>
            </li> -->
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Research</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Implement</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Debugging</li>
          </ul>
        </div>
      </section>

{% endblock %}