{% extends 'base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}
     <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Hang
            <span class="text-primary">XU</span>
          </h1>
          <div class="subheading mb-5">The Hong Kong University of Science and Technology. Clear Water Bay, Kowloon, Hong Kong
            <a href="mailto:hxubf@connect.ust.hk">hxubf@connect.ust.hk</a>
          </div>
          <p class="mb-5">I will study and live in HKUST during my Phd period.My major is software engineering.I have another home named CASTLE.I hope that I will have some memorable experience there.</p>
          <!-- <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul> -->
        </div>
      </section>

{% endblock %}